# PlatformIO & Build artifacts
.pio/
.pioenvs/
.piolibdeps/
build/
CMakeCache.txt
CMakeFiles/

# IDEs & System
.vscode/
.idea/
*.code-workspace
.DS_Store
node_modules/

# ESP-IDF Temp files
sdkconfig*.old